.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.pokedex {
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}

.class-pokedex {
  width: 50%;
  padding: 20px;
  border: 2px solid pink;
}

.hooks-pokedex {
  width: 50%;
  padding: 20px;
  border: 2px solid blue;
}
